
.container {
  text-align: center;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
}
.container .title {
 display: inline-block;
 width: 100%;
 font-style: italic;
 font-weight: 200;
 font-size: 40px;

}

body{
  background: gray;
}