.container {
  text-align: center;
  background-color: gray;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5px;
  margin: 5px 5px 5px 5px;
  border: 1px solid black;
  }
  body{
    background: gray;
  }
  